{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if first_question %}
    <h1>Bienvenido al index de encuestas</h1>
    <span>De clic en comenzar encuesta</span>
    <ul>
    {% for question in first_question %}
        <li><a href="{% url 'polls:detail' question.id %}"> Comenzar encuesta </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay pregustas para responder</p>
    <img src="{% static 'polls/images/gracias.gif' %}" alt="Gracias">
{% endif %}